.app-root {
  font-family: helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: var(--app-border-radius);
  padding-bottom: 10px;
}
.app-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-side-paddings {
  padding-left: 10px;
  padding-right: 10px;
}
.app-head,
.app-parameters {
  padding: 10px;
  background: linear-gradient(0deg, #ddd, #fff);
}
.app-parameters {
  display: flex;
  justify-content: center;
  gap: 10px 20px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.app-data-block {
  padding-top: 15px;
  padding-bottom: 10px;
}
.app-searchfield {
  padding: 5px;
  border-radius: var(--app-border-radius);
  border: 1px solid #ccc;
  outline: none;
}
.icon-cloudiness {
  max-height: 1.8em;
  vertical-align: middle;
}
.app-center-text {
  text-align: center;
}
.app-temperature {
  font-size: 25px;
  display: inline-block;
  font-weight: 700;
  position: relative;
  top: 1px;
}
.text-gradient {  
  background: linear-gradient(45deg, rgb(244 138 206), rgb(73 58 151));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 1px Violet);
}
.app-cloudiness {
  font-size: 14px;
}
.app-parameter {
  display: inline-block;
}
.app-parameter:not(:first-of-type) {
  margin-left: 15px;
}
.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 40px;
  margin-top: 0;
  font-size: 14px;
}
.app-footer .inline-logo {
  width: 15px;
  margin: 0 5px;
  vertical-align: text-bottom;
}
.app-chart-toolbar button {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  line-height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}
.app-chart-toolbar button:first-of-type {
  border-radius: var(--app-border-radius) 0 0 var(--app-border-radius);
}
.app-chart-toolbar button:last-of-type {
  border-radius: 0 var(--app-border-radius) var(--app-border-radius) 0;
}
.app-chart-toolbar button:not(:first-of-type) {
  border-left-width: 0;
}
.app-chart-toolbar :hover {
  background-color: #eee;
}
.app-chart-toolbar .active,
.app-chart-toolbar .active:hover {
  background-color: #ddd;
}
.icon-angular {
  filter: drop-shadow(0px 0px 1px #e13137);
}
.icon-chartjs {
  filter: drop-shadow(0px 0px 1px #fe777b);
}

@media (max-width: 451px) {
  .app-root {
    font-size: 14px;
  }
  .app-temperature {
    font-size: 20px;
  }
  .app-parameters {
    flex-wrap: wrap;
  }
  .app-chart-toolbar {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
  }
  .app-chart-toolbar button:not(:first-of-type) {
    border-left-width: 1px;
  }
  .app-chart-toolbar[class] button {
    border-radius: var(--app-border-radius);
  }
}

@media (max-width: 331px) {
  .app-head .icon-text {
    display: none;
  }
}