.app-root {
  font-family: helvetica, sans-serif;
  border: 1px solid #ccc;
  padding-bottom: 10px;
}
.app-head {
  display: flex;
  justify-content: space-between;
}
.app-side-paddings {
  padding-left: 10px;
  padding-right: 10px;
}
.app-head,
.app-parameters {
  padding: 10px;
  background-color: #ddd;
}
.app-parameters {
  margin-bottom: 20px;
}
.app-data-block {
  padding-top: 15px;
  padding-bottom: 10px;
}
.app-searchfield {
  padding: 5px;
}
.icon-cloudiness {
  max-height: 1.8em;
  vertical-align: middle;
}
.app-center-text {
  text-align: center;
}
.app-temperature {
  font-size: 25px;
}
.app-cloudiness {
  font-size: 14px;
}
.app-parameter {
  display: inline-block;
}
.app-parameter:not(:first-of-type) {
  margin-left: 15px;
}
.app-footer {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}
.app-footer .angular-logo {
  width: 15px;
  vertical-align: text-bottom;
}
.app-chart-toolbar {
  margin: 20px 0 0 0;
}
.app-chart-toolbar button {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  line-height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}
.app-chart-toolbar button:not(:first-of-type) {
  border-left-width: 0;
}
.app-chart-toolbar :hover {
  background-color: #eee;
}
.app-chart-toolbar .active,
.app-chart-toolbar .active:hover {
  background-color: #ddd;
}
