<div class="app-root">
  <simple-notifications></simple-notifications>

  <div class="app-head">
    <div>
      <img [src]="iconUrl" alt="" class="icon-weather-status">
      Forecast
    </div>
    <input #searchfield (keyup.enter)="onSearchEnter(searchfield.value)" type="search" class="app-searchfield" id="city-searchfield" placeholder="City">
  </div>

  <div class="app-data-block app-side-paddings">
    <div>{{detailedWeather.dt_txt | date:'EEEE, d MMMM'}}</div>
    <div class="app-center-text">
      <div class="app-location">
        {{allWeather.city.name}}, {{allWeather.city.country}}
      </div>

      <div class="app-temperature">
        {{detailedWeather.main.temp | number: '1.0-0'}}&deg;C
      </div>

      <div class="app-weather-status">
        <img [src]="iconUrl" alt="" class="icon-weather-status">
        {{weatherStatus}}
      </div>
    </div>
  </div>

  <div class="app-center-text app-parameters">
    <strong class="app-parameter">Pressure:</strong> {{detailedWeather.main.pressure | number: '1.0-0'}} hPa
    <strong class="app-parameter">Humidity:</strong> {{detailedWeather.main.humidity}}%
    <strong class="app-parameter">Wind Speed:</strong> {{detailedWeather.wind.speed | number: '1.0-1'}} m/s
    <strong class="app-parameter">Clouds:</strong> {{detailedWeather.clouds.all}}%
  </div>

  <div class="app-side-paddings">
    3 hour forecast ({{allWeather.cnt}} intervals shown)

    <div class="app-toolbar" (click)="onToolbarClick($event)">
      <button data-type="temperature" [ngClass]="{ active: chartParam == 'temperature'}">Temperature</button>
      <button data-type="pressure" [ngClass]="{ active: chartParam == 'pressure'}">Pressure</button>
      <button data-type="wind" [ngClass]="{ active: chartParam == 'wind'}">Wind</button>
      <button data-type="humidity" [ngClass]="{ active: chartParam == 'humidity'}">Humidity</button>
    </div>

    <app-chart [options]="chartOptions"></app-chart>
  </div>
</div>

<footer class="app-footer">
  <img src="favicon.ico" class="angular-logo"> Angular 6, Weather Forecast Application.
</footer>
