<div class="app-root">
  <simple-notifications></simple-notifications>

  <div class="app-head">
    <div>
      <img [src]="weatherIconUrl" alt="" class="icon-cloudiness">
      Forecast
    </div>
    <input
      type="search"
      class="app-searchfield"
      placeholder="City"
      #searchfield
      [attr.disabled] = "loadingForecast ? '': null"
      (keyup.enter)="onSearchEnter(searchfield.value)">
  </div>

  <div class="app-data-block app-side-paddings">
    <div>{{detailForecast.dt_txt | date:'EEEE, d MMMM'}}</div>
    <div class="app-center-text">
      <div class="app-location">
        {{allForecast.city.name}}, {{allForecast.city.country}}
      </div>

      <div class="app-temperature">
        {{detailForecast.main.temp | number: '1.0-0'}}&deg;C
      </div>

      <div class="app-cloudiness">
        <img [src]="weatherIconUrl" alt="" class="icon-cloudiness">
        {{cloudiness}}
      </div>
    </div>
  </div>

  <div class="app-center-text app-parameters">
    <strong class="app-parameter">Pressure:</strong> {{detailForecast.main.pressure | number: '1.0-0'}} hPa
    <strong class="app-parameter">Humidity:</strong> {{detailForecast.main.humidity}}%
    <strong class="app-parameter">Wind Speed:</strong> {{detailForecast.wind.speed | number: '1.0-1'}} m/s
    <strong class="app-parameter">Clouds:</strong> {{detailForecast.clouds.all}}%
  </div>

  <div class="app-side-paddings">
    3 hour forecast ({{allForecast.cnt}} intervals shown)

    <div class="app-chart-toolbar">
      <button
        *ngFor="let chartType of chartTypes"
        (click)="onChartTypeBtnClick(chartType)"
        [ngClass]="{ active: activeChartType === chartType}">
        {{chartType}}
      </button>
    </div>

    <app-chart [options]="chartData"></app-chart>
  </div>
</div>

<footer class="app-footer">
  Powered by: <img src="favicon.ico" class="inline-logo">Angular 6, <img src="./../assets/images/chartjs-logo.svg" class="inline-logo"> Chart.js 2
</footer>
